<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the availability_init() hook (in hooks/availability.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="availability-bus-<%%VALUE(id)%%>" class="availability-bus"><%%SELECT%%><%%VALUE(bus)%%><%%ENDSELECT%%></td>
		<td id="availability-route-<%%VALUE(id)%%>" class="availability-route"><%%SELECT%%><%%VALUE(route)%%><%%ENDSELECT%%></td>
		<td id="availability-amount-<%%VALUE(id)%%>" class="availability-amount"><%%SELECT%%><%%VALUE(amount)%%><%%ENDSELECT%%></td>
		<td id="availability-date-<%%VALUE(id)%%>" class="availability-date"><%%SELECT%%><%%VALUE(date)%%><%%ENDSELECT%%></td>
		<td id="availability-time-<%%VALUE(id)%%>" class="availability-time"><%%SELECT%%><%%VALUE(time)%%><%%ENDSELECT%%></td>
		<td id="availability-status-<%%VALUE(id)%%>" class="availability-status"><%%SELECT%%><%%VALUE(status)%%><%%ENDSELECT%%></td>
