<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the  and  formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the bookings_init() hook (in hooks/bookings.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="bookings-id_number-<%%VALUE(id)%%>" class="bookings-id_number"><%%VALUE(id_number)%%></td>
		<td id="bookings-fullname-<%%VALUE(id)%%>" class="bookings-fullname"><%%VALUE(fullname)%%></td>
		<td id="bookings-phone-<%%VALUE(id)%%>" class="bookings-phone"><%%VALUE(phone)%%></td>
		<td id="bookings-bus-<%%VALUE(id)%%>" class="bookings-bus"><%%VALUE(bus)%%></td>
		<td id="bookings-seat-<%%VALUE(id)%%>" class="bookings-seat"><%%VALUE(seat)%%></td>
		<td id="bookings-amount-<%%VALUE(id)%%>" class="bookings-amount"><%%VALUE(amount)%%></td>
		<td id="bookings-date-<%%VALUE(id)%%>" class="bookings-date"><%%VALUE(date)%%></td>
		<td id="bookings-time-<%%VALUE(id)%%>" class="bookings-time"><%%VALUE(time)%%></td>
		<td id="bookings-luggage-<%%VALUE(id)%%>" class="bookings-luggage"><%%VALUE(luggage)%%></td>
		<td id="bookings-date_booked-<%%VALUE(id)%%>" class="bookings-date_booked"><%%VALUE(date_booked)%%></td>
