<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the routes_init() hook (in hooks/routes.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="routes-name-<%%VALUE(id)%%>" class="routes-name"><%%SELECT%%><%%VALUE(name)%%><%%ENDSELECT%%></td>
		<td id="routes-time-<%%VALUE(id)%%>" class="routes-time"><%%SELECT%%><%%VALUE(time)%%><%%ENDSELECT%%></td>
		<td id="routes-amount-<%%VALUE(id)%%>" class="routes-amount"><%%SELECT%%><%%VALUE(amount)%%><%%ENDSELECT%%></td>
